<html lang="en">
<head>
    <%- include('partials/head') %>
</head>
<body>
    <header>
        <h1>Medium Stories</h1>
    </header>
    <nav class="navbar">
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/story">Story</a></li>
            <li><a href="uploadstory">Upload</a></li>
            <section class="search-bar">
            <input type="text" id="search" placeholder="Search">
            </section>
        </ul>
    </nav>
          
    <div class="container">
      <% stories.forEach(stories => { %>
        <div class="articles">
          <div class="author">
            <img src="../image/<%= stories.image url %>" alt="Sticking the Landing">
            <h2><%= stories.title%></h2>
          
            <p class="summary">
             <%=stories.summary%>
            </p>
          <p class="content">
            <%=stories.content%>

            <a href="/story-details" class="read-more">Read More</a>
            <div class="byline">
              <span><%=stories.author%></span>
            </div>
          </div>

          
            <% }) %>
          </div>
</div>

    <footer>
            <p>&copy; 2025 Medium Stories. All Rights Reserved.</p>
            <p>Developer : Kal</p>
            <p>Version : 0.01</p>
          
    </footer>
    <script src="/js/javascript.js"></script>
</body>
</html>