<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/head') %>
</head>
<header>
  <h1>Medium Stories</h1>
</header>
<body>
  <a href="/" class="previous round">&#8249;</a>
  <%story.forEach(stories => { %>
    <div class="container">
     
        <div class="articles">
         
          <div class="author">
            <img src="../image/<%= stories.image_url %>" alt="Sticking the Landing">
            <h2><%= stories.title %></h2>
            <p><%= stories.content %></p>
            <a href="#" class="read-more">Read More</a>
            <div class="byline">
              <span><%= stories.aulthor %></span>
            </div>
          </div>
            
          </div>
          <%}) %>

          <div class="author">
            <img src="../image/Stella-and-the-sun.jpg" alt="Sticking the Landing">
            <h2>Stella and the Sun</h2>
            <p>
              Meet Stella, a little adventurer who dreams of touching the sun! Join her on a magical journey to the mountaintop, where she discovers the importance of the sun’s warmth and light.</p>
            <a href="#" class="read-more">Read More</a>
            <div class="byline">
              <span>unknow</span>   
            </div>
          </div>

          <div class="author">
            <img src="../image/Grown-ups-language.jpg" alt="Sticking the Landing">
            <h2>Grown ups' Language!</h2>
            <p>Meet Jack, a curious six-year-old who’s learning the strange language of grown-ups. It’s his birthday, and he’s determined to make sense of their mysterious words and actions.</p>
            <a href="#" class="read-more">Read More</a>
            <div class="byline">
              <span>unknow</span>   
            </div>
          </div>
        </div>
        </body>
        </html>

